.about-main-div {
    display: flex;
    text-align: center;
}

.about-sec-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    animation: renderitemsabout 1.5s ease-in;
}

.about-description {
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 25px;
}

.about-us-title {
    font-family: Comic Sans MS;
    text-align: center;
}

.about-sec-div p{
    position: relative;
    bottom: 1.5rem;
    border: 5px double #000;
    border-radius: 5px;
    margin: 0 5px;
}

@media only screen and (max-width: 990px) {
    .about-us-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .about-main-div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@keyframes renderitemsabout{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
