.main-prediction-page{
    padding: 5px;
}

.predict-main-div {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}

.predict-dmn-img {
    margin: 0px auto;
    width: 50%;
}

.prediction-area-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pred-main-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.h3-pred {
    text-align: center;
}

.pred-title-div {
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    background-image: linear-gradient(to bottom right, #DCDCDC, #6495ED);
    border: 5px double darkcyan;
    border-radius: 20px;
    font-size: 3.8rem;
    padding: 10px;
}

.predict-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: gainsboro;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 10px;
}


@media only screen and (max-width: 1320px) {
    .predict-main-div {
        display: flex;
        flex-direction: column-reverse;
    }
    .predict-dmn-img {
        margin: 0px auto;
        width: 100%;
    }
    .pred-title-div {
        font-size: 2.5rem;
    }
}

