.logo {
    width: 18%;
}

header {
    text-align: center;
}

.logo-container {
    background-color: #ffffff;
}

.nav-link {
    margin: 0 10px;
    font-size: 20px;
}

.active-nav{
    color: black;
    text-shadow: 0.1px 0.1px 0.5px #000;
    font-weight: 700;
}

.logout-nav{
    background-color: #DC143C;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1px !important;
    color: #000;
    text-shadow: 0.1px 0.1px 0.5px #000;
    font-weight: 700;
    font-size: 1.5rem;
}

.logout-nav:hover{
    background-color: #ee496a;

}

.gen-search-btn {
    margin: auto;
}

/* Mobile compatibility */

@media only screen and (max-width: 990px) {
    .logo {
        width: 35%;
    }
    .gen-search-btn {
        margin: auto;
        margin-top: 5px;
    }
    .mr-sm-2 {
        margin: auto;
    }
    .site-nav-bar {
        margin: auto;
    }
}