.contact-form-div{
    width: 50%;
    border: 2px solid #cecece;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
}

.contact-div{
    display: flex;
    flex-direction: row;
}